In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('B0005.csv')

In [3]:
df

,Voltage_measured,Current_measured,Temperature_measured,Current_charge,Voltage_charge,Time,Capacity,id_cycle,type,ambient_temperature,time,Battery
0,3.974871,-2.012528,24.389085,1.9982,3.062,35.703,1.856487,1,discharge,24,2008,B0005
1,3.951717,-2.013979,24.544752,1.9982,3.030,53.781,1.856487,1,discharge,24,2008,B0005
2,3.934352,-2.011144,24.731385,1.9982,3.011,71.922,1.856487,1,discharge,24,2008,B0005
3,3.920058,-2.013007,24.909816,1.9982,2.991,90.094,1.856487,1,discharge,24,2008,B0005
4,3.907904,-2.014400,25.105884,1.9982,2.977,108.281,1.856487,1,discharge,24,2008,B0005
...,...,...,...,...,...,...,...,...,...,...,...,...
169761,2.835283,-2.011160,37.396003,1.9986,1.937,2392.437,1.341051,132,discharge,24,2008,B0018
169762,2.774711,-2.011370,37.544067,1.9986,1.880,2406.250,1.341051,132,discharge,24,2008,B0018
169763,2.690974,-2.010542,37.723665,1.9986,1.806,2420.062,1.341051,132,discharge,24,2008,B0018
169764,2.566085,-2.011117,37.925675,1.9986,1.698,2433.890,1.341051,132,discharge,24,2008,B0018
169765,2.365585,-2.011110,38.143742,1.9986,1.524,2447.687,1.341051,132,discharge,24,2008,B0018

In [4]:
df['Battery'].value_counts()

B0007    48299
B0005    45122
B0006    44354
B0018    31991
Name: Battery, dtype: int64

In [ ]:
plt.figure(figsize=(8,6))
sns.countplot(x="Voltage_measured",data=df,hue="Battery")